{% extends 'base.html.twig' %}

{% block title %}Etape index{% endblock %}

{% block body %}

<img src="{{ asset('images/3.png') }}"/>
    <a href="{{ path('app_histoire_page',{'id':4}) }}">Lire la suite</a>
{% endblock %}
