{% extends 'base.html.twig' %}

{% block title %}Etape index{% endblock %}

{% block body %}

<img src="{{ asset('images/2.png') }}"/>
{# Corriger le lien #}
    <a href="#">Lire la suite</a>
{% endblock %}
