{% extends 'base.html.twig' %}

{% block title %}Etape index{% endblock %}

{% block body %}

<img src="{{ asset('images/'~id~'.png') }}"/>
    <a href="{{ path('app_histoire_page',{'id':id+1}) }}">Lire la suite</a>
{% endblock %}
