
{% extends 'base.html.twig' %}

{% block title %}Etape index{% endblock %}

{% block body %}<h1>Droits d'auteurs sur les textes et images</h1>
<h2>Story Attribution</h2>
This story: Une feuille part en voyage is translated by Cyrille Largillier . The © for this translation lies with Cyrille Largillier, 2022. Some rights reserved. Released
under CC BY 4.0 license. Derived from: 'A Leaf Goes on a Trip', by Shilpa Bhide . © Pratham Books , 2022. Some rights reserved. Released under CC BY 4.0 license.
Based on Original story: 'एका पानाची भटकंती', by Anagha Kusum . © Pratham Books , 2021. Some rights reserved. Released under CC BY 4.0 license. This story may
have intermediate versions between the root and parent story. To see all versions, please visit the links.
Images Attributions:
Cover page: A leaf carried away by wind from tree, by Anagha Kusum © Pratham Books, 2021. Some rights reserved. Released under CC BY 4.0 license. Page 2: Car
going down a road surrounded by elds, by Anagha Kusum © Pratham Books, 2021. Some rights reserved. Released under CC BY 4.0 license. Page 3: Leaves
oating in wind, by Anagha Kusum © Pratham Books, 2021. Some rights reserved. Released under CC BY 4.0 license. Page 4: A man wearing spectacles riding a
cycle with fruit basket, by Anagha Kusum © Pratham Books, 2021. Some rights reserved. Released under CC BY 4.0 license. Page 5: A bulbul watching leaf ying in
wind, by Anagha Kusum © Pratham Books, 2021. Some rights reserved. Released under CC BY 4.0 license. Page 6: Leaf ying around a car, by Anagha Kusum ©
Pratham Books, 2021. Some rights reserved. Released under CC BY 4.0 license. Page 7: Boy and cat playing with a leaf, by Anagha Kusum © Pratham Books, 2021.
Some rights reserved. Released under CC BY 4.0 license. Page 8: Boy holding leaf and cat leaping from window, by Anagha Kusum © Pratham Books, 2021. Some
rights reserved. Released 

<h2>Images Attributions</h2>
Page 10: Cat jumping from boy's shoulder, by Anagha Kusum © Pratham Books, 2021. Some rights reserved. Released under CC BY 4.0 license. Page 11: Cat
looking at leaf between a book's pages, by Anagha Kusum © Pratham Books, 2021. Some rights reserved. Released under CC BY 4.0 license. Page 12: A dried leaf,
by Anagha Kusum © Pratham Books, 2021. Some rights reserved. Released under CC BY 4.0 license. Page 13: Cat playing with leaf, by Anagha Kusum © Pratham
Books, 2021. Some rights reserved. Released under CC BY 4.0 license.
<a href="{{ path('app_histoire_p1') }}">Retour à la première page</a>
{% endblock %}
